@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?iep0nx');
	src:url('fonts/icomoon.eot?#iefixiep0nx') format('embedded-opentype'),
		url('fonts/icomoon.woff?iep0nx') format('woff'),
		url('fonts/icomoon.ttf?iep0nx') format('truetype'),
		url('fonts/icomoon.svg?iep0nx#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
	content: "\e600";
}

.icon-navigate-before:before {
	content: "\e603";
}

.icon-navigate-next:before {
	content: "\e604";
}

.icon-arrow-back:before {
	content: "\e605";
}

.icon-arrow-forward:before {
	content: "\e606";
}

.icon-settings:before {
	content: "\e601";
}

