@media screen and (max-width: 768px) {
  .topbar {
    position: absolute;
    padding: 0 1rem;
  }

  .topbar > * {
    margin: 0.8rem 0;
  }

  .topbar .app-name {
    width: 100%;
  }

  .topbar .search-form {
    width: 100%;
  }
}

@media screen and (min-width: 769px) {
  .topbar {
    position: fixed;
    padding-right: 2rem;
    padding-left: 1rem;
  }

  .topbar > * {
    margin: 0.8rem 0.5rem;
  }

  .topbar .app-name {
    width: auto;
  }

  .topbar .search-form {
    width: 25rem;
  }
}

.topbar {
  z-index: 10;
  top: 0;
  left: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  overflow: auto;
}

/* vertically center all topbar children */
.topbar > * {
  display: inline-block;
}

.topbar .app-name {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  text-shadow: 0 0 20px #000;

  color: #fff;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.search-form {
  float: right;

  white-space: nowrap;
}

.search-input {
  width: -webkit-calc(100% - 2rem);
  width: calc(100% - 2rem);
  padding-right: 0.5rem;
  padding-left: 0.5rem;

  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.search-button {
  width: 2rem;

  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;

  color: #888;
}

.search-input,
.search-button {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 1.5rem;

  border: none;

  background-color: #fff;
}

/* remove blue outline when element is focused */
.search-input:focus,
.search-button:focus {
  outline: none;
}

.shadow {
  -webkit-box-shadow: 0 0 10px #000;
  box-shadow: 0 0 10px #000;
}
