.new-releases {
  text-align: center;
}

.new-releases .album-list {
  padding: 0;

  list-style-type: none;
}

.new-releases .album {
  display: inline-block;
  width: 10rem;
  margin: 1rem;

  vertical-align: top;
}

.new-releases figure {
  margin: 0;

  text-align: center;
}

.new-releases .album .cover {
  width: 10rem;
  height: 10rem;
  margin: 0 auto;

  border: none;

  cursor: pointer;
}

.new-releases .album .name {
  margin: 1.5rem 0;
}
