.div-details{
  background: linear-gradient(black, grey);
  box-shadow: 5px 5px 50px 5px lightblue;  
} 
.div-width{
	max-width: 14rem;
}
.ul-details{
	vertical-align: top;
  display: inline-block;
  list-style: none;
}

.image-view{
    
   	width: 200px;
 	margin: 2px;
 	border-width: 0.1rem;
}
.image-container{
	 height:200px;
	 display: inline-block;
	 vertical-align: bottom;
	 text-align: center;
}

.hr-details { 
	width: 100%;
    height: 0.1rem;
    border-color: white;
}

.h1-details{
	font-family: Impact, Charcoal, sans-serif;
	text-align: center;
	font-size: 35px;
}

.text-details{
	height:50px;
   	max-width: 200px;
	color: white;
	font-size: 13px;
	text-align: center;
	padding-top: 0.6rem;	
}
.album-information{
  margin-left: 5rem;
}
.album-link{
	color: white;
}



