.themes,
.main-page {
  margin-bottom: 2rem;

  text-align: center;
}

.theme-item {
  display: inline-block;
  width: 8rem;
  margin: 1rem 2rem;
}

.set-theme {
  width: 5rem;
  height: 5rem;

  border: none;
}

.set-theme.dark-blue {
  background: -webkit-gradient(linear, left top, right bottom, from(#1483ff), to(#00336d));
  background: -webkit-linear-gradient(top left, #1483ff, #00336d);
  background: linear-gradient(to bottom right, #1483ff, #00336d);
}

.set-theme.light-blue {
  background: -webkit-gradient(linear, left top, right bottom, from(#00336d), to(#1483ff));
  background: -webkit-linear-gradient(top left, #00336d, #1483ff);
  background: linear-gradient(to bottom right, #00336d, #1483ff);
}

.checkbox-list {
  display: inline-block;

  text-align: left;
}

.checkbox-item {
  margin: 0.5rem 0;
}

.theme-item *,
.checkbox-item * {
  cursor: pointer;
}

.checkbox-item.ng-hide-add,
.checkbox-item.ng-hide-remove {
  -webkit-transition: 400ms;
  transition: 400ms;
}

.checkbox-item.ng-hide-add {
  opacity: 1;
}

.checkbox-item.ng-hide-remove {
  opacity: 0;
  -webkit-transform: translateX(2rem);
  -ms-transform: translateX(2rem);
  transform: translateX(2rem);
}

.checkbox-item.ng-hide-add-active {
  opacity: 0;
  -webkit-transform: translateX(2rem);
  -ms-transform: translateX(2rem);
  transform: translateX(2rem);
}

.checkbox-item.ng-hide-remove-active {
  opacity: 1;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.clear-background {
  display: block;
  height: 2rem;
  margin: 2rem auto;
  padding: 0 1rem;
}
