/*
  http://paletton.com/#uid=23B0H0kwi++bu++hX++++rd++kX
*/

/* Main Primary colors */
.color-primary-0,
.color-primary-0-hover:hover:not(:disabled),
.color-primary-0-hover:focus {
  color: #1483ff;
}

.color-primary-1,
.color-primary-1-hover:hover:not(:disabled),
.color-primary-1-hover:focus {
  color: #00336d;
}

.color-primary-2,
.color-primary-2-hover:hover:not(:disabled),
.color-primary-2-hover:focus {
  color: #00438e;
}

.color-primary-3,
.color-primary-3-hover:hover:not(:disabled),
.color-primary-3-hover:focus {
  color: #7bbaff;
}

.color-primary-4,
.color-primary-4-hover:hover:not(:disabled),
.color-primary-4-hover:focus {
  /*color: #abd3ff;*/
  color: #fff;
}

.background-color-primary-0 {
  background-color: #1483ff;
}

.background-color-primary-1 {
  background-color: #00336d;
}

.background-color-primary-2 {
  background-color: #00438e;
}

.background-color-primary-3 {
  background-color: #7bbaff;
}

.background-color-primary-4 {
  /*background-color: #abd3ff;*/
  background-color: #fff;
}

.background-color-primary-0.transparent {
  background-color: rgba(20, 131, 255, 0.8);
}

.background-color-primary-0-hover.transparent:hover:not(:disabled) {
  background-color: rgba(20, 131, 255, 0.2);
}

.background-color-primary-0-hover:hover:not(:disabled),
.background-color-primary-0-hover:focus {
  background-color: #1483ff;
}

.border-color-primary-0 {
  border-color: #1483ff;
}

/* Main Complement color */
.color-complement-0 {
  color: #ff9a00;
}

.color-complement-1 {
  color: #a76500;
}

.color-complement-2 {
  color: #d98300;
}

.color-complement-3 {
  color: #ffc770;
}

.color-complement-4 {
  color: #ffdba4;
}

body {
  color: #000;
}
