<h3>ARTIST</h3>

<div ng-repeat="search in searchCtrl.search.artists.items">
  {{search.type}}<br>
  {{search.name}} <br>
  <img ng-src="{{search.images[2].url}}" class="cover">
  <a ng-href="#/searchartist/{{search.id}}">view artist details</a>
</div>
<nav nav-buttons type="artists" model="searchCtrl.search.artists"></nav>
<h3>ALBUMS</h3>
<div ng-repeat="search in searchCtrl.search.albums.items">
  {{search.album_type}}<br>
  {{search.name}} <br>
  <img ng-src="{{search.images[2].url}}" class="cover">
  <a ng-href="#/searchalbum/{{search.id}}">view album details</a>
</div>
<nav nav-buttons type="albums" model="searchCtrl.search.albums"></nav>
